footer {
  background-color: #1C2E5E;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}

footer img {
  max-width: 150px;
  margin-bottom: 10px;
}

footer a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  margin: 5px 0;
}

footer .link:hover {
  background-color: #DECB37;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {

  footer {
    background-color: #1C2E5E;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: sticky;
    bottom: 0;
    width: 100%;
  }
  
  footer .query {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer .link:hover {
    background-color: #DECB37;
    color: black;
    font-weight: bold;
    border-radius: 5px; /* Bordes redondeados */
  }
}
